@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Glory", sans-serif;
}

.nav-bar {
    width: 100%;
    background-color: #919191;
    height: 8.7vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    height: 100%;
    gap: 10px;
    margin-left: 20px;
  }
  
  .name {
    color: black;
    text-decoration: none;
  }
  
  .name:hover {
    text-decoration: underline;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 40px;
    font-weight: bolder;
  }

  h2 {
    margin-left: 5%;
    font-weight: bold;
    text-decoration: underline;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 5%;
  }

  .project-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 80%;
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-info {
    padding: 20px;
  }
  
  .project-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .project-description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }

  p {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 18px;
  }

  .project-card img {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  ul {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 18px;
  }

  iframe {
    margin-left: 15%;
  }